   body {
       background-color: inherit;
       background-image: url('http://4k-background.com/highresolution/l_102.jpg');
       background-repeat: repeat;
       background-position: 1px 1px;
       margin: auto;
       width: 100%;
        }
   
   h2 {
       text-align: center;
       font-family: Calibri;
       letter-spacing: 2px;
       font-size: 35px;
       font-style: normal;
       font-weight: bold;
       text-shadow: 2px 1px;
       height: 20px;
       color: #000033;
       background-color: inherit;
   }
   
   section {
       float: inherit;
       text-align: center;
       font-family: Calibri;
       font-size: 25px;
       font-style: normal;
       font-weight: bold;
       text-shadow: 1px 1px 1px;
       letter-spacing: 2px;
       line-height: 25px;
       text-indent: 2px;
       color: #0066FF;
       height: 25px;
       background-color: inherit;
       margin: 0 1.5%;
       width: 63;
   }
   
   nav {
        text-align: center;
        font-family: Calibri;
        font-size: 22px;
        height: 10px;
        text-shadow: 1px 2px 3px;
        letter-spacing: 3px;
        word-spacing: 100px;
        color: #000000;
        background-color: inherit;
   }   
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        background-color: inherit;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
    
    li a {
        display: block;
        color: #000;
        padding: 0px 0 0px 0px;
        text-decoration: none;
    }
    
    li a.active {
        background-color: lightblue;
        color: white;
    }
    
    li a:hover:not(.active) {
        background-color: skyblue;
        color: white;
    }
  
   .navbar-default {
        background-color: inherit;
        border-color: #6699FF;
    }
   .navbar-default .navbar-nav > li > a {
        color: black; 
    }
  
    footer {
        position:relative;
        bottom:0;
    }
    
    table {
        text-align: center;
        font-family: Calibri;
        font-weight: bolder;
        font-size: 20px;
        height: 20px;
        letter-spacing: 2px;
        line-height: 25px;
        text-indent: 2px;
        color: #000033;
        background-color: inherit;
    }